{% extends 'layout.html' %}
{% block title %}Show files{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>

</head>
<br><br>
<h2 align="center">List Of Files To Download </h2>
<br>

<div class="container">
    <table id="myTable">
        <thead>
        <tr>
            <th>Files Names</th>
            <th>Download files</th>

        </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file }}</td>
            <td><a href={{ url_for('get_file' ,path=file) }}>Download </a> </td>

        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});



</script>


{% endblock %}